<!-- v-model is 2-way binding here and {{todo.text}} is one way binding-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <title>To-Do List</title>
  </head>

  <body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand"><h3>To-Do List</h3> </a>
      <div class="navbar-collapse float-right">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <a class="btn btn-secondary" href="about.html">About</a> -->
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container mt-sm-5" id="app">
    	<label class="h3 ml-4 mb-4"> It's time to get things done! </label>
    	<label class="h4"> You have {{counter}} task(s) today.</label>
    	
	    <form class="form-inline">
	      <label class="sr-only" for="task">Task</label>
	      <input type="text" class="form-control mb-2 mr-sm-2" id="task" placeholder="Task" v-model="newTodo">

	      <label class="sr-only" for="time">Time</label>
	      <div class="input-group mb-2 mr-sm-2">
	        <input type="time" class="form-control" placeholder="Time" v-model="time">
	      </div>

	      <div class="input-group mb-2 mr-sm-2">
	      	<input type="button" value="Add" class="btn btn-primary" @click="addTodo">
	  	  </div>

	      <div class="input-group mb-2 mr-sm-2">
	      	<input type="button" value="Delete All" class="btn btn-danger" @click="delAll">
	  	  </div>
	    </form>

      

	     <!-- <input type="text" @click="datefunc"> -->
	     
	      <ul class="list-unstyled">
	        <li v-for="(todo,index) in todos" :class="{ completed: todo.completed }" class="my-2">
	          <input type="checkbox" v-model="todo.completed">
	          
	          <big>{{todo.time}} {{ todo.text }}</big>
	          <input type="button" class="btn btn-danger ml-5" value="Delete" @click="del(index)">
	        </li>
	      </ul>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="todo.js"></script>
	</body>
</html>
